.slick-arrow {
  background-color: rgba(0, 0, 0, 0.801) !important;
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 50%;
  z-index: 50;
}

@media (max-width: 480px) {
  .slick-arrow {
    background-color: rgba(0, 0, 0, 0.801) !important;
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 50%;
    z-index: 50;
  }
}

@media (max-width: 560px) {
  .testimony-image {
    width: 13rem !important;
    /* height: 18rem !important; */
    overflow-y: auto;
    object-fit: cover;
    /* margin-left: 10px; */
  }
  .testimony-text {
    /* width: 10rem !important; */
    /* height: 18rem !important; */
    overflow-y: auto;
    margin-top: 0px;
    font-size: 8px;
    /* padding: 1px; */
    /* object-fit: cover; */
  }
}

@media (min-width: 560px) and (max-width: 1200px) {
  .testimony-image {
    /* width: 18rem !important; */
    /* height: 15rem !important; */
    overflow-y: auto;
    object-fit: cover;
  }
  .testimony-text {
    /* width: 23rem !important; */
    /* height: 15rem !important; */
    overflow-y: auto;
    margin-top: 3px;
    padding: 1px;
    /* object-fit: cover; */
  }
}

@media (min-width: 1200px) {
  .image-div {
    overflow-y: scroll;
    /* object-fit: cover; */
  }
  .testimony-image {
    /* width: 36rem !important; */
    height: 29rem !important;
    object-fit: cover;
  }
  .testimony-text {
    /* width: 30rem !important; */
    height: 25rem !important;
    /* margin-right: 1px; */
    /* padding-right: 1px; */
    overflow-y: auto;
    object-fit: cover;
  }
}
